#ignore thumbnails created by windows
Thumbs.db

# Visual Studio 2015 cache/options directory
.vs/
/builds/
*.manifest
luajit_*.log
bencher_*.log
quicktest_*.log
openresty_*.log
*_envlogs/
*_results.json.bz2
*_instr_data/
lua-vermelha/
raptorjit_repo/
luajit_repo/
build/
lastrun.json
# Ignore any Lua rocks we installed
/rocks/
/benchmarks/*/rocks/
