#ignore thumbnails created by windows
Thumbs.db

# Visual Studio 2015 cache/options directory
.vs/
luajit_envlogs/
luajit.manifest
luajit_*.log
luajit_results.json.bz2
luajit_instr_data/
/builds/
