#ignore thumbnails created by windows
Thumbs.db

# Visual Studio 2015 cache/options directory
.vs/
/builds/
*.manifest
luajit_*.log
quicktest_*.log
*_envlogs/
*_results.json.bz2
*_instr_data/
bencher_*.log
lua-vermelha/
raptorjit_repo/
luajit_repo/
lastrun.json
